html { 
  background: url(IMG_1079.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.homepageintro{
	font-size: 3rem;
	text-align:center;
	color: white;
}
.homepagetext{
	font-size: 2rem;
	text-align: justify;
	color: white;
}
.missionpageintro{
	font-size: 3rem;
	text-align:center;
	color: white;
}
.missionpagetext{
	font-size: 2rem;
	text-align: justify;
	color: white;
}
p{
	margin: 5px;

}
body{
	background: rgba(0,0,0,.5);
}


